.card{
    width:250px;
    height: 350px;
    border-radius: 5%;
    display: inline-block;
    box-shadow: 0 4px 8px black;
    border: 2px solid black;
    margin:10px;
    transition: 1s;

}
img{
    width: 100%;}
.desc{
    padding:0 4px 0 4px;
}
.card:hover{
    box-shadow: 0 8px 16px rgb(228, 208, 32);

}