h1{
            color: blue;
            background-color: gray;
}
p{
    color:tomato;
}
button{
    color: gold;
    background-color: black;
}
h3{
    background-color: rgb(183, 105, 9);
}